<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown"
          href="javascript:" ngbDropdownToggle>
          <img src="../../../assets/img/testimonials/User-Profile.png" alt="user-image" class="user-avtar" />
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4><span class="small text-muted"> {{profileName}}</span> </h4>
          </div>
          <a class="dropdown-item cursor-pointer" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>