<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="shape-left">
        <img src="https://validthemes.net/site-template/sasoft/assets/img/shape/17.png" alt="Shape">
    </div>
    <div class="slider">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div
                    class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome to <span>Chasemind Solution Pvt. Ltd.</span></h2>
                    <!-- <p>Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae
                            cumque
                            eum quaerat.</p> -->
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#contact" class="btn-get-started">Contact us </a>
                        <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                                class="glightbox btn-watch-video d-flex align-items-center"><i
                                    class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="../../../assets/img/slider.png" class="img-fluid slider" alt="" data-aos="zoom-out"
                        data-aos-delay="100">
                </div>
            </div>
        </div>
    </div>
    <div class="icon-boxes position-relative methodologies">
        <div class="container position-relative">
            <div class="methodologies-title">
                <h2 class="typewriter">Methodologies We Use...</h2>
            </div>
            <div class="row gy-4 mt-5">

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-arrow-repeat"></i></div>
                        <h4 class="title">Agile</h4>
                        <div>By breaking projects into manageable sprints and fostering constant communication, we
                            adapt quickly to changes and deliver high-quality results that meet your evolving needs.
                        </div>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-infinity"></i></div>
                        <h4 class="title">DevOps</h4>
                        <div>Our DevOps practice is designed to enhance collaboration and efficiency throughout your
                            project’s lifecycle. You benefit from continuous delivery, ensuring a faster
                            time-to-market and improved product quality. </div>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-arrow-clockwise"></i></div>
                        <h4 class="title">Scrum</h4>
                        <div>This approach promotes transparency, inspection, and adaptation, allowing for
                            continuous improvement and high-quality results.
                        </div>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-bar-chart-steps"></i></div>
                        <h4 class="title">Waterfall</h4>
                        <div>This approach guarantees thorough documentation and a clear, linear progression from
                            start to finish.
                        </div>
                    </div>
                </div><!--End Icon Box -->

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            <p>Chasemind Solution has pioneered IT services in India, consistently delivering business value
                with the latest technology.</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6">
                <h3>Technology solutions to help businesses and societies flourish</h3>
                <img src="../../../assets/img/about.png" class="img-fluid rounded-4 mb-4" alt="">
                <p>Chasemind Solution Pvt. Ltd. All types of solutions providing under the one roof, empowering
                    your business by leveraging technology enabled solutions to achieve your business goals.
                    With our Unique Development approach and two step QA process, we have catered to industries
                    like Education,
                    Retail/online sales, Healthcare and Manufacturing and helped them to digitize their
                    processes by providing end to end solutions.
                    We help a lot of amazing customers across the world and we do create some of the best
                    Websites and Apps that raise them to get greatest produce income.
                    We provide the services for Dedicated Resources for long-term collaborations and ensure
                    transparency of actions and on top of it dedicated resources/team working as per client
                    needs, ensure smooth communication with daily/weekly reporting.</p>
            </div>
            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5 mb-4">
                    <!-- <p class="fst-italic">
                                Chasemind Solution has pioneered IT services in India, consistently delivering business
                                value with the latest technology.
                            </p> -->
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> Technology can be complicated, but we’ve
                            seen it all before and can help you with any IT issue.</li>
                        <li><i class="bi bi-check-circle-fill"></i>Our vertical solutions expertise allows your
                            business to streamline workflow, and increase productivity.</li>
                        <li><i class="bi bi-check-circle-fill"></i> We have a proven process to help you move
                            your business forward and we’re with you every step of the way.</li>
                    </ul>
                    <div class="position-relative">
                        <img src="../../../assets/img/about-1.svg" class="img-fluid rounded-4 mb-4" alt="">
                        <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
                    </div>
                </div>
                <div>
                    <p class="about-us-p">
                        Our mission is to deliver top-notch IT solutions that empower businesses to thrive in the
                        digital age.
                        We strive to provide exceptional service, leveraging the latest technologies to create
                        efficient, secure,
                        and scalable systems for our clients.
                    </p>
                    <p>
                        Our expert team combines technical excellence with a customer-centric approach, ensuring
                        tailored solutions
                        that meet the unique needs of each client. With a focus on integrity, innovation, and
                        excellence, we strive
                        to be your trusted partner in navigating the digital landscape and achieving your business
                        goals.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="../../../assets/img/expertises/ajax.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/android.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/angular.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/codeigniter.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/css.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/html.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/ios.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/jquery.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/js.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/laravel.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/magento.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/Microsoft_.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/mongo-db.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/my-sql.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/node-js.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/react.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/sass.png" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/sql-server.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/windows.png" class="img-fluid"
                        alt="">
                </div>
                <div class="swiper-slide"><img src="../../../assets/img/expertises/wordpress.png" class="img-fluid"
                        alt="">
                </div>
            </div>
        </div>

    </div>
</section><!-- End Clients Section -->

<!-- ======= Stats Counter Section ======= -->
<section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

            <div class="col-lg-6">
                <img src="../../../assets/img/stats-img.svg" alt="" class="img-fluid">
            </div>

            <div class="col-lg-6">

                <div class="stats-item d-flex align-items-center">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <span class="plus-span">+</span>
                    <p><strong>Happy Clients</strong> </p>
                </div><!-- End Stats Item -->

                <div class="stats-item d-flex align-items-center">
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <span class="plus-span">+</span>
                    <p><strong>IT Experts Team</strong> </p>
                </div><!-- End Stats Item -->

                <div class="stats-item d-flex align-items-center">
                    <span data-purecounter-start="0" data-purecounter-end="456" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <span class="plus-span">+</span>
                    <p><strong>Cups of Coffees</strong> </p>
                </div><!-- End Stats Item -->

                <div class="stats-item d-flex align-items-center">
                    <span data-purecounter-start="0" data-purecounter-end="1586" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <span class="plus-span">+</span>
                    <p><strong>Hours Of Support</strong> </p>
                </div><!-- End Stats Item -->
            </div>

        </div>

    </div>
</section><!-- End Stats Counter Section -->

<!-- ======= Call To Action Section ======= -->
<!-- <section id="call-to-action" class="call-to-action">
            <div class="container text-center" data-aos="zoom-out">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>
        </section> -->
<!-- End Call To Action Section -->
<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
    <app-services></app-services>
</section><!-- End Our Services Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Testimonials</h2>
            <p>What our customers say</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Tom Smith</h3>
                                    <h4>United States</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Chasemind Solution has done a excellent job taking our company’s idea and
                                developing a website as per our genious specifications.
                                The team is technically strong and creative.
                                I will not hesitate to recommend them.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Olivia Tahir</h3>
                                    <h4>Australia</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Chasemind Solution delivered our Application on time.
                                We are quite happy with the work.
                                I see a great future for this company. Keep making happy clients.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Harry Anderson</h3>
                                    <h4>Scotland</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Being a managed services client has improved our pptime, increased our
                                productivity and systematized our software updates
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>James Barbar</h3>
                                    <h4>United Kingdom</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                I am very happy with you related work, I satisfied for excellent longer
                                relationship.
                                Chasemind Solution team are extraordinary and very supportive.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Georgia Willams</h3>
                                    <h4>United States</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                I sleep easier at night knowing the Chasemind Solution team is in my corner.
                                Supporting my business and keeping my systems in Tip-Top shape.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/img/testimonials/User-Profile.png"
                                    class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Jacob Michael</h3>
                                    <h4>Australia</h4>
                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Chasemind Solution are always accommodating our diverse needs & we feel like
                                they are a part of our Company rather than an external supplier.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Portfolio Section ======= -->
<app-portfolio></app-portfolio>

<!-- End Portfolio Section -->
<!-- 
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>The People Behind Chasemind Solution</h2>
                <p>Our team is our greatest asset. Comprised of talented professionals with
                    diverse expertise, we work collaboratively to deliver outstanding results. Our commitment to
                    innovation, excellence, and client satisfaction drives everything we do. Meet the people who
                    make it all possible.</p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="assets/img/team/no-image.jpg" class="img-fluid" alt="">
                        <h4>Vijay Soni</h4>
                        <span>Managing Director</span>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="assets/img/team/no-image.jpg" class="img-fluid" alt="">
                        <h4>Ajay Patel</h4>
                        <span>Managing Director</span>
                        <div class="social">
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="assets/img/team/no-image-f.jpg" class="img-fluid" alt="">
                        <h4>Sweety Soni</h4>
                        <span>BDE</span>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/no-image-f.jpg" class="img-fluid" alt="">
                        <h4>Damini Patel</h4>
                        <span>MEAN Stack Developer</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/no-image-f.jpg" class="img-fluid" alt="">
                        <h4>Roshani Sardhara</h4>
                        <span>.Net Developer</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/no-image.jpg" class="img-fluid" alt="">
                        <h4>Anjan Zinzuwadia</h4>
                        <span>MEAN Stack Developer</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/no-image.jpg" class="img-fluid" alt="">
                        <h4>Harshad </h4>
                        <span>Flutter App Developer</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="assets/img/team/no-image.jpg" class="img-fluid" alt="">
                        <h4>Pratham Adeshara</h4>
                        <span>MERN Stack Developer</span>
                    </div>
                </div>
            </div>

        </div>
    </section> -->
<!-- End Our Team Section -->

<!-- ======= Pricing Section ======= -->
<!-- <section id="pricing" class="pricing sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Pricing</h2>
                    <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat
                        sunt id nobis omnis tiledo stran delop</p>
                </div>

                <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

                    <div class="col-lg-4">
                        <div class="pricing-item">
                            <h3>Free Plan</h3>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <h4><sup>$</sup>0<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span>
                                </li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="pricing-item featured">
                            <h3>Business Plan</h3>
                            <div class="icon">
                                <i class="bi bi-airplane"></i>
                            </div>

                            <h4><sup>$</sup>29<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="pricing-item">
                            <h3>Developer Plan</h3>
                            <div class="icon">
                                <i class="bi bi-send"></i>
                            </div>
                            <h4><sup>$</sup>49<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>

                </div>

            </div>
        </section> -->
<!-- End Pricing Section -->

<!-- <app-faq-list></app-faq-list>
        <app-blog-list></app-blog-list> -->
<app-contact-us></app-contact-us>