
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/" class="logo d-flex align-items-center">
                    <img src="../../../assets/img/logo/white_logo.png" alt="logo">
                </a>
                <p>We are dedicated to delivering innovative solutions and exceptional
                    service. Our team of experts is committed to helping you achieve your goals with quality and
                    reliability. Discover how we can make a difference for you.</p>
                <div class="social-links d-flex mt-4">
                    <a href="skype:live:.cid.760e3278191aa729?chat" target="_blank" aria-label="skype">
                        <i class="bi bi-skype"></i>
                    </a>
                    <a href="https://www.facebook.com/people/Chasemind-Solution" target="_blank" aria-label="facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/chasemindsolution/" target="_blank" aria-label="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/chasemind-solution-private-limited" 
                        target="_blank" aria-label="linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#services">Services</a></li>
                    <!-- <li><a href="#">Terms of service</a></li> -->
                    <!-- <li><a href="#">Privacy policy</a></li> -->
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li>Web Design & Development</li>
                    <li>ERP & CRM Development</li>
                    <li>E-Commerce / M-Commerce / Quick commerce</li>
                    <li>Mobile App Development</li>
                    <li>Software Testing</li>
                    <li>Graphic Design</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A-408, Siddhi Vinayak Towers, <br>
                    near Kataria Arcade, Makarba,<br>
                    Ahmedabad, Gujarat 380051 <br><br>
                    <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
                    <strong>Email:</strong> info&#64;chasemind.in<br>
                </p>

            </div>

        </div>
    </div>
</footer>
<!-- End Footer -->