<section class="my-lg-20 my-10 overflow-hidden about-page">
    <div class="container" data-aos="fade-up">
        <div class="row gy-10 align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <span class="text-sm text-uppercase font-semibold">Code is Our Craft, Innovation is Our Passion</span>
                <h2 class="mb-3"> Get to Know <span class="highlight"> Chasemind Solutions</span>
                </h2>
                <p class="mb-3">Our team is committed to helping businesses of all sizes bring value to their customers,
                    outpace the competition, and achieve exponential growth. We understand that success in today’s
                    market demands more than just technical expertise – it requires creativity, strategy, and a deep
                    understanding of your business needs.</p>
                <p class="mb-6"><span class="highlight">Contact us today</span> to discover how Chasemind Solutions can
                    help you unlock your digital potential and achieve unparalleled success. </p>
                <a href="#contact" class="btn btn-lg ps-5 pe-12 py-3 btn-dark button-arrow position-relative"
                    role="button">Let's
                    connect <i class="bi bi-arrow-right button-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 text-center">
                <img src="../../../assets/img/about-us/4557388.jpg" class="rounded-5 skeleton-loader"
                    alt="Chasemind Solutions">
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="inner-column">
                <div class="sec-title">
                    <h2 class="mb-3"> Why Trust <span class="highlight"> Chasemind Solution?</span></h2>
                </div>
                <div class="why-section">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <p class="text">
                                With a team of highly skilled IT professionals, we bring years of experience and a
                                forward-thinking approach to delivering cutting-edge technology solutions. We stay ahead
                                of the curve, integrating the latest tools, platforms, and methodologies to ensure our
                                clients thrive in a rapidly evolving digital landscape.</p>
                        </div>
                    </div>
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <p class="text">Your success is our priority. We collaborate closely with you to understand
                                your business challenges and goals, ensuring that our solutions are not only effective
                                but aligned with your vision. We are committed to delivering projects on time and within
                                budget, with a focus on long-term client satisfaction.</p>
                        </div>
                    </div>
                    <div class="outer-circle">
                        <div class="inner-circle">
                            <p class="text">Over the years, we have built a reputation for delivering successful IT projects across various industries. Our portfolio speaks for itself, showcasing innovative solutions that have driven efficiency, productivity, and profitability for our clients.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Image Column -->
            <!-- <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Building Success Together: Our Work Culture</h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images">
                            <img title="company_img" src="../../../assets/img/about-us/company.jpg" alt="">
                        </a></figure>

                </div>
            </div> -->
        </div>

    </div>
</section>

<app-contact-us></app-contact-us>