.portfolio-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.portfolio-btn {
    background: #00aeef;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}