.member {
  img {
    opacity: 0.7;
    filter: grayscale(100%);
  }
}

.methodologies {
    color: white;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #5b85af;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  overflow:hidden;
  z-index: 1;
}

.cursor2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  overflow:hidden;
  z-index: 1;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}